<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.trips.mapper.member.MemberMapper">

	<insert id="insert">
	INSERT INTO USER(email, nickname, password, user_name, gender, phone, birth, city, location)
	VALUES (#{email}, #{nickname}, #{password}, #{user_name}, #{gender}, #{phone}, #{birth}, #{city}, #{location})
	</insert>
	
	<select id="selectByEmail" resultType="com.trips.domain.member.MemberDtoAddRole">
	SELECT
		user_id, 
		email, 
		nickname, 
		password, 
		user_name, 
		gender, 
		phone, 
		birth, 
		city, 
		location,
		user_role
	FROM
		USER
	WHERE
		email = #{email}
	</select>
	
	<select id="selectByNickName" resultType="com.trips.domain.member.MemberDtoAddRole">
	SELECT
		user_id, 
		email, 
		nickname, 
		password, 
		user_name, 
		gender, 
		phone, 
		birth, 
		city, 
		location,
		user_role
	FROM
		USER
	WHERE
		nickname = #{nickName}
	</select>
</mapper>