<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.trips.mapper.member.MemberMapper">

	<insert id="insert">
	INSERT INTO USER(email, nickname, password, user_name, gender, phone, birth, city, location)
	VALUES (#{email}, #{nickname}, #{password}, #{user_name}, #{gender}, #{phone}, #{birth}, #{city}, #{location})
	</insert>
	
	<select id="selectByEmail" resultType="com.trips.domain.member.MemberDtoAddRole">
	SELECT
		user_id, 
		email, 
		nickname, 
		password, 
		user_name, 
		gender, 
		phone, 
		birth, 
		city, 
		location,
		user_role,
		self_introduction,
		user_profile
	FROM
		USER
	WHERE
		email = #{email}
	</select>
	
	<select id="selectByNickName" resultType="com.trips.domain.member.MemberDtoAddRole">
	SELECT
		user_id, 
		email, 
		nickname, 
		password, 
		user_name, 
		gender, 
		phone, 
		birth, 
		city, 
		location,
		user_role,
		self_introduction,
		user_profile
	FROM
		USER
	WHERE
		nickname = #{nickName}
	</select>
	
	<update id="deleteById">
	UPDATE USER
	SET
		disable = false
	WHERE
		user_id = #{id}
	</update>
	
	<select id="getPetListById" resultType="com.trips.domain.member.PetDto">
	SELECT
		pet_id,
		user_id,
		birth,
		breed,
		name,
		neutering,
		pet_gender,
		size_type,
		pet_profile
	FROM
		PET
	WHERE
		user_id = #{user_id}
	</select>
	
	<update id="update" parameterType="com.trips.domain.member.MemberDtoAddRole">
		UPDATE USER
		SET
			nickname = #{nickname},
			password = #{password},
			user_name = #{user_name},
			gender = #{gender},
			phone = #{phone},
			birth = #{birth},
			city = #{city},
			location = #{location}
		WHERE
			user_id = #{user_id}
	</update>
	
	<update id="updateProfile" parameterType="com.trips.domain.member.MemberDtoAddRole">
		UPDATE USER
		SET
			self_introduction = #{self_introduction},
			user_profile = #{user_profile}
		WHERE
			user_id = #{user_id}
	</update>
	
	<insert id="insertPet">
	INSERT INTO PET(user_id, name, birth, breed, neutering, pet_gender, size_type, pet_profile)
	VALUES (#{user_id}, #{name}, #{birth}, #{breed}, #{neutering}, #{pet_gender}, #{size_type}, #{pet_profile})
	</insert>
</mapper>